<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Elegy</title>
    <meta name="description" content="Our creativity knows no bounds! We are like medieval alchemists, mixing things up to get unexpected, but sometimes really
    pleasant or even enchanting results.">
    <link rel="icon" href="../media/icon/favicons/1.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../styles/style.min.css">
</head>


<body data-barba="wrapper">

    
    <!-- PAGE TRANSITION ANIMATION -->
    <div class="loader-overlay one"></div>
    <div class="loader-overlay two"></div>
    
<div id="all_root" data-barba="container" data-barba-namespace="site">
    <header class="hdr"></header>
    <!-- <div class="page_loader"> -->
        <!-- <div class="page-transition"></div> -->
    <!-- </div> -->

    <main class="root-index root-about">
        <div class="blob">
            <!-- <canvas class="canvas"></canvas> -->
        </div>

        <section class="sec-1 sec-1--about">
            <div class="h1-a h1-t" id="alchemy">
                creating web <br> alchemy
            </div>

            <div class="about_text" id="about-text">
                Мы - небольшой коллектив людей, которые любят то, чем занимаются, и верят в продукт, который создают, переосмысляя само представление о веб-разработке. Наша задача - создание современных веб-решений: сайтов, приложений, промо-игр и цифровых инсталляций, которые дарят людям новый пользовательский опыт. В нашей работе мы стремимся к достижению максимально тесного контакта с клиентом - от брифа и до запуска проекта - чтобы совместно достичь уникального результата, которым все мы сможем по праву гордиться.
            </div>
        </section>


        
        <!-- <script src="/components/js/header.js"></script>
        <script src="/components/js/footer.js"></script> -->
    </main>
</div>

<footer class="footer"></footer>

<!-- <style>
    canvas {
        height: 100vh;
    }
    #root-index {
        height: 110vh;
        overflow: hidden;
    }
    @media  (max-width: 556px) {
        #root-index {
            height: 95vh;
            overflow: hidden;
        }
        /* .blob {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        .blob canvas {
            height: 100%;
        } */
    }
</style> -->
    
</body>
</html>