.hdr {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0 50px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // overflow: hidden;
    background: $gray-color;
    font-style: 18px;
    z-index: 100;
    @media  (max-width: $breakpoint-md-min) {
        padding: 0 20px;
    }
    @media  (max-width: $breakpoint-sm-min) {
        height: 60px;
    }
    .hdr-work {
        background: #556158;
    }
    .menu {
        display: flex;
        font-size: 16px;
        ul {
            margin-left: 100px;
            display: flex;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                li {
                    &:nth-child(5) {
                        margin-right: 0;
                    }
                }
            }
            a {
                padding: 1px 8px 2px;
                border-radius: 22px;
                &:hover {
                    background: $black-color;
                    color: $gray-color;
                }
            }
            .lang {
                // cursor: pointer;
                padding: 1px 8px 2px;
                border-radius: 22px;
                &:hover {
                    background: $black-color;
                    color: $gray-color;
                }
            }
            .div_cont {
                // cursor: pointer;
                padding: 1px 8px 2px;
                border-radius: 22px;
                &:hover {
                    background: $black-color;
                    color: $gray-color;
                }
            }
            .menu_li-st {
                cursor: pointer;
                display: block;
                color: #282828;
                letter-spacing: -0.5px;
                // margin-bottom: 17px;
                // transition: .3s;
                margin-right: 17px;
                // transition: .2s;
                // &:nth-child(1) {
                //     transition-delay: 0.0s;
                // }
                // &:nth-child(2) {
                //     transition-delay: 0.1s;
                // }
                // &:nth-child(3) {
                //     transition-delay: 0.2s;
                // }
                // &:nth-child(4) {
                //     transition-delay: 0.3s;
                // }
                // &:nth-child(5) {
                //     transition-delay: 0.4s;
                // }

                @media  (max-width: $breakpoint-lg-min) {
                    display: none;

                }
            }
            .menu_btn {
                cursor: pointer;
                // display: none;
                opacity: 0;
                // transition: .2s;
                transform: translateY(30px);
                text-transform: uppercase;
                // transition-delay: 0.45s;
                z-index: 1000;
                // display: none; transform: translateY(30px); opacity: 0;
                @media  (max-width: $breakpoint-lg-min) {
                    display: block;
                    opacity: 1;
                    transform: translateY(0);
                    
                }
                @media  (max-width: $breakpoint-sm-min) {
                    font-size: 14px;
                }
            }
        }
    }
    .logo {
        z-index: 1000;
        width: 110px;
        display: block;
        @media  (max-width: $breakpoint-sm-min) {
            width: 80px;
        }
        a {
            position: relative;
            display: flex;
            width: 100%;
            height: 100%;
        }
    }
    // .media_logo {
    //     z-index: 1000;
    //     width: auto;
    //     height: auto;
    //     display: block;
    //     a {
    //         display: flex;
    //         justify-content: end;
    //         align-items: center;
    //         img {
    //             padding: 8px;
    //         }
    //     }
    // }

    .menu_layout {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #87817B;
        padding: 120px 20px 50px;
        height: 0;
        display: none;
        transform: translateY(-200px);
        // padding: 0;
        ul {
            font-weight: 300;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            font-size: 62px;
            letter-spacing: -0.2rem;
            height: 100%;
            margin-top: auto;
            color: $black-color;
            
            @media  (max-width: $breakpoint-sm-min) {
                font-size: 46px;
            }
            .lang {
                border-radius: 0px;
            }
            .menu_li_lay {
                &-active {
                    a {
                        color: $gray-color;
                    }
                }
            }
            .menu_li_lay-st {
                cursor: pointer;
                // line-height: 90%;
                // margin-bottom: 20px;
                text-transform: uppercase;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                z-index: 200;
                // &:first-child {
                //     text-transform: lowercase;
                // }
                
            }
        }
    }
}
.contacts {
    &_layout {
        position: fixed;
        top: 0;
        left: 0;
        padding-bottom: 17%;
        // min-height: 80vh;
        width: 100%;
        color: $gray-color;
        z-index: 50000;
        height: 100%;
        // display: none;
        transform: translateY(-100%);
        // background: rgba(0,0,0,.4);
        
    }
    &_wrapper {
        padding: 30px 50px 60px;
        border-radius: 0 0 20px 20px;
        background: $black-color;
        position: relative;
        @media  (max-width: $breakpoint-md-min) {
            padding: 30px 20px 60px;
        }
        @media  (max-width: $breakpoint-md-min) {
            padding: 20px 20px 60px;
        }
        .close_contacts {
            position: absolute;
            text-transform: uppercase;
            font-size: 14px;
            right: 50px;
            bottom: 30px;
            cursor: pointer;
            @media  (max-width: $breakpoint-md-min) {
                right: 20px;
                bottom: 20px;
            }
        }
        a {
            color: $gray-color;
        }
        .soc {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            border-bottom: 1px solid $gray-color;
            padding-bottom: 27px;
            @media  (max-width: $breakpoint-sm-min) {
                flex-direction: column-reverse;
            }
            &_bl {
                display: flex;
                align-items: center;
                @media  (max-width: $breakpoint-sm-min) {
                    margin-top: 20px;
                }
                a {
                    margin-right: 40px;
                }
            }
        }
        .cont_fl {
            display: flex;
            padding-top: 80px;
            height: 100%;
            @media  (max-width: $breakpoint-md-min) {
                flex-direction: column-reverse;
            }
            @media  (max-width: $breakpoint-sm-min) {
                padding-top: 20px;
            }
            .cont_left {
                width: 65%;
                
                @media  (max-width: $breakpoint-lg-min) {
                    width: 60%;
                }
                @media  (max-width: $breakpoint-md-min) {
                    width: 100%;
                }
                .cont_text {
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                    font-size: 16px;
                    line-height: 94%;
                    letter-spacing: -0.5px;
                    margin-bottom: 80px;
                    @media  (max-width: $breakpoint-md-min) {
                        margin-bottom: 60px;
                        width: 80%;
                    }
                    @media  (max-width: $breakpoint-sm-min) {
                        margin-bottom: 30px;
                        width: 100%;
                    }
                }
            
                .form {
                    
                    display: inline-flex;
                    flex-direction: column;
                    width: 100%;
                    .button_submit {
                        padding-left: 30px;
                        margin-top: auto;
                        button {
                            font-size: 16px;
                            border: none;
                            outline: none;
                            border: 1px solid $black-color;
                            color: $black-color;
                            background: $gray-color;
                            padding: 2px 8px;
                            border-radius: 22px;
                            cursor: pointer;
                            &:hover {
                                background: $black-color;
                                color: $gray-color;
                                border: 1px solid $gray-color;
                            }
                        }
                    }
                    .form_wr {
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                        @media  (max-width: $breakpoint-sm-min) {
                            flex-direction: column;
                        }
                        .left {
                            // padding-right: 20px;
                            margin-right: 40px;
                            width: 100%;
                        }
                        .right {
                            width: 100%;
                            // padding-left: 20px;
                        }
                        .nickname_mobile {
                            display: none;
                            @media  (max-width: $breakpoint-sm-min) {
                                display: flex;
                            }
                        }
                        .nickname_desctop {
                            display: flex;
                            @media  (max-width: $breakpoint-sm-min) {
                                display: none;
                            }
                        }
                        #contact_error {
                            display: none;
                        }
                        #message_error {
                            display: none;
                        }
                    }
                    
                    .inp_wr {
                        font-size: 16px;
                        letter-spacing: -0.5px;
                        position: relative;
                        display: flex;
                        align-items: center;
                        margin-bottom: 80px;
                        width: 100%;
                        @media  (max-width: $breakpoint-md-min) {
                            margin-bottom: 60px;
                        }
                        @media  (max-width: $breakpoint-sm-min) {
                            margin-bottom: 30px;
                        }
                        // &--full {
                        //     margin-bottom: 0;
                        //     width: 100%;
                        // }
                        label {
                            // position: absolute;
                            // left: -10px;
                            // top: -20px;
                            width: 20px;
                            height: 20px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 12px;
                            border: 1px solid $gray-color;
                            border-radius: 100%;
                            margin-right: 10px;
                            cursor: pointer;
                            @media  (max-width: $breakpoint-sm-min) {
                                font-size: 8px;
                                width: 15px;
                                height: 15px;
                            }
                        }
                        .invisible {
                            opacity: 0; 
                        }
                        input {
                            padding-bottom: 5px;
                            border: none;
                            outline: none;
                            border-bottom: 1px solid $gray-color;
                            background: transparent;
                            opacity: .7;
                            width: 100%;
                            color: $gray-color;
                            // padding-left: 20px;
                            @media  (max-width: $breakpoint-sm-min) {
                                font-size: 12px;
                            }
                            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                                color: $gray-color;;
                                opacity: 1; /* Firefox */
                                font-size: 12px;
                            }
                            &:focus {
                                opacity: 1;
                            }
                        }
                        #message {
                            // width: 100%;
                        }
                    }
                    
                }
            }
            .cont_right {
                width: 35%;
                padding-left: 20px;
                font-size: 42px;
                line-height: 94%;
                text-align: right;
                @media  (max-width: $breakpoint-xl-min) {
                    font-size: 36px;
                }
                @media  (max-width: $breakpoint-lg-min) {
                    width: 40%;
                }
                @media  (max-width: $breakpoint-md-min) {
                    width: 100%;
                    text-align: left;
                    margin-bottom: 60px;
                    padding-left: 0;
                }
                @media  (max-width: $breakpoint-sm-min) {
                    margin-bottom: 30px;
                }
                @media  (max-width: $breakpoint-xs-min) {
                    font-size: 27px;
                    margin-bottom: 20px;
                }
            }
        }
    }
    
    
    

}