* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    &::selection {
        background-color: #28282863; 
    }
}
// Media
$breakpoint-xxs-min: 360px;
$breakpoint-xs-min: 420px;
$breakpoint-sm-min: 576px;
$breakpoint-md-min: 768px;
$breakpoint-lg-min: 992px;
$breakpoint-xl-min: 1200px;
$breakpoint-xxl-min: 1400px;

$breakpoint-xs-max: $breakpoint-xs-min - 1px;
$breakpoint-s-max: $breakpoint-sm-min - 1px;
$breakpoint-sm-max: $breakpoint-md-min - 1px;
$breakpoint-md-max: $breakpoint-lg-min - 1px;
$breakpoint-lg-max: $breakpoint-xl-min - 1px;
$breakpoint-xl-max: $breakpoint-xxl-min - 1px;

// NeueMetana
@font-face {
    font-family: 'NeueMetana-bold';
    src: url(../fonts/NeueMetana-Bold.otf);
}
@font-face {
    font-family: 'NeueMetana-regular';
    src: url(../fonts/NeueMetana-Regular.otf);
}
// Inter 
@font-face {
    font-family: 'Inter-light';
    src: url(../fonts/Inter-Light.otf);
}
@font-face {
    font-family: 'Inter-regular';
    src: url(../fonts/Inter-Regular.otf);
}
// Wagon 
@font-face {
    font-family: 'Wagon';
    src: url(../fonts/Wagon-ExtraLightItalic.otf);
}

//variables

$white-color: #ffffff;
$black-color: #282828;
$gray-color: #EDEDED;
$brown-color: #87817B;
$green-color: #556158;

//mixins
@mixin list-null {
    list-style-type: none;
    margin: 0;
    padding: 0;;
}

// PAGE ANIMATIONS
// .page_loader {
//     position: absolute;
//     top: 0;
//     left: 0;
//     pointer-events: none;
//     z-index: 500000;
//     width: 100%;
//     background: #fff;
//     height: 100vh;
// }
// .page-transition {
//     z-index: 500000;
//     position: absolute;
//     top: 0;
//     background-color: #282828;
//     width: 100%;
//     height: 0;
// }

.loader-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $brown-color;
    z-index: 9999;
    transform: scaleX(0);
    @media  (max-width: $breakpoint-lg-min) {
        background: $green-color;
    }
}
.loader-overlay.two{
    background-color: $black-color;
}
// /PAGE ANIMATIONS



.h1-a {
    cursor: default;
}
body {
    font-family: 'Inter-regular';
    color: $black-color;
    background: $gray-color;
      
}
body::-webkit-scrollbar {
    display: none;
}
body {
    -ms-overflow-style: none;  /* IE и Edge */
    scrollbar-width: none;  /* Firefox */
}
// tags
li {
    @include list-null();
}
a {
    color: $black-color;
    text-decoration: none;
}
input {
    margin: 0;
    padding: 0;
    border-radius: 0;
}
//Three.js canvas
canvas {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    height: 100vh;
}

// UI elements
.char {
    // transform: translateY(60px);
    // opacity: 0;
    // clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
        // transition: .3s;
    @media  (min-width: $breakpoint-lg-min) {
        &:hover {
            font-family: 'Wagon';
            letter-spacing: .5rem;
            // transform: translateY(20px);
            // transition: .3s;
        }
    }
    
}
.word {
    transform: translateY(40px);
    // opacity: 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.load_anim {
    transform: translateY(20px);
    // opacity: 0;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}
.btn-title {
    display: inline-block;
    padding: 7px;
    .cont {
        border: 1px solid $black-color;
        border-radius: 22px;
        padding: 0 7px 1.5px;
        letter-spacing: -0.5px;
        cursor: pointer;
        &:hover {
            background: $black-color;
            color: $gray-color;
        }
    }
}

// Import files 
@import 'header.scss';
@import 'footer.scss';
@import 'cases.scss';
@import 'index.scss';
@import 'work.scss';
 


.root-index{
    width: 100%;
    -webkit-font-smoothing: antialiased;
    // transition: .3s;
    margin-bottom: 300px;
    z-index: 1;
    border-radius: 0 0 20px 20px;
    @media  (max-width: $breakpoint-xs-min) {
        margin-bottom: 265px;
    }
}
.root-about {
    height: 110vh;
    overflow: hidden;
    @media  (max-width: 556px) {
        height: 95vh;
        overflow: hidden;
    }
}
// .root-work {
    
// }
.bg-green {
    background: $green-color;
}

.message-sent-notification {
    padding: 20px;
    display: none; // gsap меняет на flex с небольшой задержкой, чтобы текст локализации успел отобразиться
    position: fixed;
    top: 14rem;
    left: 42%;
    width: fit-content;
    height: 5rem;
    background: $black-color;
    font-family: 'Inter-regular';
    src: url(../fonts/Inter-Regular.otf);
    font-size: 20px;
    color: $gray-color;
    overflow: hidden;
    z-index: 999999;
}

.cookie-dialogue {
    background-color: $black-color;
    border-radius: 100px;
    padding: 20px;
    display: flex;
    // position: sticky;
    position: fixed;
    height: fit-content;
    align-items: center;
    // justify-content: center;
    width: 60vw;
    top: 75vh;
    left: 20vw;
    margin: 0;
    z-index: 1000;
    @media  (max-width: $breakpoint-lg-min) {
        width: 70vw;
        // top: 75vh;
        left: 15vw;
    }
    @media  (max-width: $breakpoint-md-min) {
        width: 80vw;
        // top: 75vh;
        left: 10vw;
    }
    @media  (max-width: $breakpoint-sm-min) {
        border-radius: 0;
        width: 100vw;
        top: 70vh;
        left: 0;
    }
    div {
        // display: flex;
        // align-items: flex-start;
        // justify-content: center;
        margin: 0 20px;
        color: $gray-color;
        font-size: 14px;
        width: 60%;
        a {
            color: $brown-color;
            text-decoration: underline;
        }
        @media  (max-width: $breakpoint-lg-min) {
            width: 50%;
            // top: 75vh;
        }
        @media  (max-width: $breakpoint-sm-min) {
            width: 60%;
            font-size: 12px;
            margin: 0;
        }
    }
    .button-section {
        display: flex;
        margin: 0;
        width: 40%;
        @media  (max-width: $breakpoint-lg-min) {
            width: 50%;
        }
        @media  (max-width: $breakpoint-sm-min) {
            display: grid;
            width: 40%;
            height: 100px;
        }
        button {
            margin: auto;
            width: 45%;
            height: fit-content;
            padding: 10px 0;
            font-family: 'Inter-regular';
            font-style: italic;
            font-size: 14px;
            // padding: 1px 8px 2px;
            border-radius: 22px;
            @media  (max-width: $breakpoint-lg-min) {
                // width: 20%;
            }
            @media  (max-width: $breakpoint-sm-min) {
                width: 55%;
                height: 80%;
                font-size: 12px;
            }
            &#cookie-accept {
                border: $brown-color;
                background: $brown-color;
                color: $gray-color;
                &:hover {
                    border: $green-color;
                    background: $green-color;
                    color: $white-color;
                }
            }
            &#cookie-reject {
                border: $black-color;
                background: $gray-color;
                color: $black-color;
                &:hover {
                    border: $green-color;
                    background: $green-color;
                    color: $white-color;
                }
            }
        }
    }
}