<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our cases</title>
    <meta name="description" content="Here you can see a showcase of our works, which include research, design, and development of web sites and promo games.">
    <link rel="icon" href="../../media/icon/favicons/1.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../../styles/style.min.css">
</head>
<body data-barba="wrapper">

<!-- PAGE TRANSITION ANIMATION -->
<div class="loader-overlay one"></div>
<div class="loader-overlay two"></div>

<div id="all_root" data-barba="container" data-barba-namespace="about">

    <header class="hdr"></header>


    <main class="root-index">
        <section class="sec_cases-1">
            <div class="h1-a h1-t" id="our-cases">
                <!-- Yep i'ts our <br> cases ! -->
                Our cases
            </div>

            <div class="h6-text" id="sec-cases-1-text">
                Here we want to show you all that we can do!
            </div>
        </section>

        <section class="sec_cases-2">
            <div class="cs_cont cases_trigger">

                <img src="../../media/img/cases/qenly0.png" alt="">
            </div>

            <div class="cs_wrap ">

                <div class="pre_it bg_color-trigger">

                    <div class="border_width"></div>

                    <div class="it">
                        
                        <div class="img_wrap">
                            <div class="blur"></div>
                            <img src="../../media/img/cases/mosprovider.webp" alt="">
                        </div>
        
                        <div class="info_wrap">

                            <div class="border_height"></div>

                            <div class="info">
                                <div class="name">
                                    mosprovider
                                </div>

                                <div class="descr" id="case-5-descr">
                                    We designed and developed a modern-looking web site for an ISP aggregation service that offers its customers best plans from well-known providers in Moscow.
                                </div>

                                <div class="do">
                                    <div class="category_wr">
                                        <div class="category" id="research">
                                            Research
                                        </div>
                                        <div class="category" id="design">
                                            Design
                                        </div>
                                        <div class="category" id="development">
                                            Development
                                        </div>
                                    </div>
            
                                    <div class="date">
                                        2023
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pre_it">

                    <div class="border_width"></div>

                    <div class="it">
                        
                        <div class="img_wrap">
                            <div class="blur"></div>
                            <img src="../../media/img/cases/smth0111.webp" alt="">
                        </div>
        
                        <div class="info_wrap">

                            <div class="border_height"></div>

                            <div class="info">
                                <div class="name">
                                    smth 0111
                                </div>

                                <div class="descr" id="case-2-descr">
                                    Lots and lots of animations and computer graphics - this is how we can describe what we have developed for SMTH 0111 - a designing project which has brought together artists around the world.
                                </div>

                                <div class="do">
                                    <div class="category_wr">
                                        <div class="category" id="development">
                                            Development
                                        </div>
                                    </div>
            
                                    <div class="date">
                                        2021
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pre_it">

                    <div class="border_width"></div>

                    <div class="it">
                        
                        <div class="img_wrap">
                            <div class="blur"></div>
                            <img src="../../media/img/cases/qenly0.png" alt="">
                        </div>
        
                        <div class="info_wrap">

                            <div class="border_height"></div>

                            <div class="info">
                                <div class="name">
                                    QENLY
                                </div>

                                <div class="descr" id="case-1-descr">
                                    We designed and developed a shop for the techwear brand. By visualizing clothing in particles on the site's main page, we reflected its utility and modernity. The coarseness of simplicity was combined with the elegance of modern technology in this project in order to highlight originality of the brand.
                                </div>

                                <div class="do">
                                    <div class="category_wr">
                                        <div class="category" id="research">
                                            Research
                                        </div>
                                        <div class="category" id="design">
                                            Design
                                        </div>
                                        <div class="category" id="development">
                                            Development
                                        </div>
                                        <div class="category" id="seo">
                                            SEO
                                        </div>
                                    </div>
            
                                    <div class="date">
                                        2022
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pre_it">

                    <div class="border_width"></div>

                    <div class="it">
                        
                        <div class="img_wrap">
                            <div class="blur"></div>
                            <img src="../../media/img/cases/geisha2.webp" alt="">
                        </div>
        
                        <div class="info_wrap">

                            <div class="border_height"></div>

                            <div class="info">
                                <div class="name">
                                    Geisha Under
                                </div>

                                <div class="descr" id="case-3-descr">
                                    Here's a complex process of creating a website for a women's underwear affordable luxe segment shop. Design, development, graphics, technical support - the entire product's lifecycle. We've also created a website management system with a popular CRM integration that enables to track business processes, delivery and payment operations.
                                </div>

                                <div class="do">
                                    <div class="category_wr">
                                        <div class="category" id="research">
                                            Research
                                        </div>
                                        <div class="category" id="design">
                                            Design
                                        </div>
                                        <div class="category" id="development">
                                            Development
                                        </div>
                                        <div class="category" id="crm">
                                            CRM
                                        </div>
                                        <div class="category" id="seo">
                                            SEO
                                        </div>
                                    </div>
            
                                    <div class="date">
                                        2022
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pre_it">

                    <div class="border_width"></div>

                    <div class="it">
                        
                        <div class="img_wrap">
                            <div class="blur"></div>
                            <img src="../../media/img/cases/bonnie_slide2.webp" alt="">
                        </div>
        
                        <div class="info_wrap">

                            <div class="border_height"></div>

                            <div class="info">
                                <div class="name">
                                    bonnie & slide
                                </div>

                                <div class="descr" id="case-4-descr">
                                    We helped to develop a series of promo games for a creative studio specializing in presentations - Bonnie & Slide. In every game, users could earn points and get great bonuses from the studio!
                                </div>

                                <div class="do">
                                    <div class="category_wr">
                                        <div class="category" id="development">
                                            Development
                                        </div>
                                    </div>
            
                                    <div class="date">
                                        2022
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer"></footer>
    </main>
</div>
</body>
</html>