<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How we work</title>
    <meta name="description" content="We do various jobs to achieve best results for our customers, such as market research, designing, developing,
    promoting and maintaining our products.">
    <link rel="icon" href="../../media/icon/favicons/1.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../../styles/style.min.css">
</head>
<body data-barba="wrapper">

<!-- PAGE TRANSITION ANIMATION -->
<div class="loader-overlay one"></div>
<div class="loader-overlay two"></div>

<div id="all_root" data-barba="container" data-barba-namespace="about">

    <header class="hdr hdr-work bg-green"></header>


    <main class="bg-green root-index">
        <section class="sec_work-1">
            <div class="h1-a h1-t" id="work-title">
                how we create and launch web projects
            </div>

            <!-- <div class="divider"></div> -->
        </section>

        <div class="sec_work-2 work_border-trigger">

            <div class="work_it">
                <div class="border_width-work"></div>
                <div class="ite">
                    <div class="lf">
                        <div class="count">01</div>
                        <div class="name name-1" id="research">
                            Research
                        </div>
                    </div>
            
                    <div class="rg">
                        <div class="border_height-work"></div>
                        <div class="ite">
                            <div class="name">
                                research
                            </div>
                            <p id="work-descr-1">
                                While creating unique experience for brands and organizations, we thoroughly investigate competitors and the market, research various user experience and analyze current trends. Quality analysis allows us to create the most effective and competitive products
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="work_it">
                <div class="border_width-work"></div>
                <div class="ite">
                    <div class="lf">
                        <div class="count">02</div>
                        <div class="name name-2" id="design">
                            Design
                        </div>
                    </div>
            
                    <div class="rg">
                        <div class="border_height-work"></div>
                        <div class="ite">
                            <div class="name">
                                design
                            </div>
                            <p id="work-descr-2">
                                Using best practices to create attractive and intuitive design for users, we make it not only effective, but also spectacular. We complement our sites with animations and interactive 3D, so nobody will get bored with them! We're also ready to make development specifically for your own design and are open to such offers
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="work_it">
                <div class="border_width-work"></div>
                <div class="ite">
                    <div class="lf">
                        <div class="count">03</div>
                        <div class="name name-3" id="development">
                            Development
                        </div>
                    </div>
            
                    <div class="rg">
                        <div class="border_height-work"></div>
                        <div class="ite">
                            <div class="name">
                                development
                            </div>
                            <p id="work-descr-3">
                                We construct pages, perform frontend and backend development, create sites and complex web applications, as well as simple web games. This involves implementing site's main functions, providing integration with databases, CRM-systems and third-party services, and enabling users to interact with the site's content
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="work_it bg_color-trigger">
                <div class="border_width-work"></div>
                <div class="ite">
                    <div class="lf">
                        <div class="count">04</div>
                        <div class="name name-4" id="creativity">
                            Creativity
                        </div>
                    </div>
            
                    <div class="rg">
                        <div class="border_height-work"></div>
                        <div class="ite">
                            <div class="name">
                                creativity
                            </div>
                            <p id="work-descr-4">
                                With modern web solutions, we create spectacular animations that give the user completely new emotions when visiting the site
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="work_it">
                <div class="border_width-work"></div>
                <div class="ite">
                    <div class="lf">
                        <div class="count">05</div>
                        <div class="name name-5" id="seo">
                            seo
                        </div>
                    </div>
            
                    <div class="rg">
                        <div class="border_height-work"></div>
                        <div class="ite">
                            <div class="name">
                                Seo
                            </div>
                            <p id="work-descr-5">
                                Internal optimization of resources helps us to achieve improved SEO performance. We make sure that our sites meet all necessary requirements
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="work_it">
                <div class="border_width-work"></div>
                <div class="ite">
                    <div class="lf">
                        <div class="count">06</div>
                        <div class="name name-6" id="maintenance">
                            Maintenance
                        </div>
                    </div>
            
                    <div class="rg">
                        <div class="border_height-work"></div>
                        <div class="ite">
                            <div class="name">
                                maintenance
                            </div>
                            <p id="work-descr-6">
                                You may also not be worried about being left with a complex web product one-on-one: we help our customers in support and development of previously launched sites
                            </p>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        
        <footer class="footer"></footer>
    </main>
</div>
</body>
</html>