<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Наши кейсы</title>
    <meta name="description" content="Здесь представлена витрина наших работ, которые включают в себя исследование, дизайн и разработку веб-сайтов и промо-игр">
    <link rel="icon" href="../../media/icon/favicons/1.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../../styles/style.min.css">
</head>
<body data-barba="wrapper">

    
    <!-- PAGE TRANSITION ANIMATION -->
    <div class="loader-overlay one"></div>
    <div class="loader-overlay two"></div>
    
<div id="all_root" data-barba="container" data-barba-namespace="site">
    <header class="hdr"></header>
    <main class="root-index">
        <section class="sec_cases-1">
            <div class="h1-a h1-t" id="our-cases">
                <!-- Yep i'ts our <br> cases ! -->
                Our cases
            </div>

            <div class="h6-text" id="sec-cases-1-text">
                Тут мы хотим показать вам все, что мы умеем!
            </div>
        </section>

        <section class="sec_cases-2">
            <div class="cs_cont cases_trigger">

                <img src="../../media/img/cases/qenly0.png" alt="">
            </div>

            <div class="cs_wrap ">

                <div class="pre_it bg_color-trigger">

                    <div class="border_width"></div>

                    <div class="it">
                        
                        <div class="img_wrap">
                            <div class="blur"></div>
                            <img src="../../media/img/cases/mosprovider.webp" alt="">
                        </div>
        
                        <div class="info_wrap">

                            <div class="border_height"></div>

                            <div class="info">
                                <div class="name">
                                    mosprovider
                                </div>

                                <div class="descr" id="case-5-descr">
                                    Создали дизайн и разработали современный сайт для онлайн-сервиса, который подбирает для пользователей актуальные тарифы от лучших московских провайдеров.
                                </div>

                                <div class="do">
                                    <div class="category_wr">
                                        <div class="category" id="research">
                                            Исследование
                                        </div>
                                        <div class="category" id="design">
                                            Дизайн
                                        </div>
                                        <div class="category" id="development">
                                            Разработка
                                        </div>
                                    </div>
            
                                    <div class="date">
                                        2023
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pre_it">

                    <div class="border_width"></div>

                    <div class="it">
                        
                        <div class="img_wrap">
                            <div class="blur"></div>
                            <img src="../../media/img/cases/smth0111.webp" alt="">
                        </div>
        
                        <div class="info_wrap">

                            <div class="border_height"></div>

                            <div class="info">
                                <div class="name">
                                    smth 0111
                                </div>

                                <div class="descr" id="case-2-descr">
                                    Много-много анимаций и компьютерной графики: именно так можно охарактеризовать то, что мы разработали для дизайн-проекта SMTH 0111, который объединил художников по всему миру.
                                </div>

                                <div class="do">
                                    <div class="category_wr">
                                        <div class="category" id="development">
                                            Разработка
                                        </div>
                                    </div>
            
                                    <div class="date">
                                        2021
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pre_it">

                    <div class="border_width"></div>

                    <div class="it">
                        
                        <div class="img_wrap">
                            <div class="blur"></div>
                            <img src="../../media/img/cases/qenly0.png" alt="">
                        </div>
        
                        <div class="info_wrap">

                            <div class="border_height"></div>

                            <div class="info">
                                <div class="name">
                                    QENLY
                                </div>

                                <div class="descr" id="case-1-descr">
                                    Мы задизайнили и разработали магазин для techwear бренда. Визуализировав одежду через систему частиц на главной странице магазина, мы отразили ее технологичность и современность. В этом проекте мы совместили грубость простоты с изящностью современных технологий, чтобы подчеркнуть оригинальность бренда.
                                </div>

                                <div class="do">
                                    <div class="category_wr">
                                        <div class="category" id="research">
                                            Исследование
                                        </div>
                                        <div class="category" id="design">
                                            Дизайн
                                        </div>
                                        <div class="category" id="development">
                                            Разработка
                                        </div>
                                        <div class="category" id="seo">
                                            SEO
                                        </div>
                                    </div>
            
                                    <div class="date">
                                        2022
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pre_it">

                    <div class="border_width"></div>

                    <div class="it">
                        
                        <div class="img_wrap">
                            <div class="blur"></div>
                            <img src="../../media/img/cases/geisha2.webp" alt="">
                        </div>
        
                        <div class="info_wrap">

                            <div class="border_height"></div>

                            <div class="info">
                                <div class="name">
                                    Geisha Under
                                </div>

                                <div class="descr" id="case-3-descr">
                                    Комплексная разработка сайта магазина женского нижнего белья affordable luxe сегмента. Дизайн, разработка, графика, а также техническое сопровождение - все это составило полный жизненный цикл продукта. Еще мы создали систему управления сайтом, интегрировав в него популярные CRM для отслеживания работы бизнеса, службы доставок и систему оплаты.
                                </div>

                                <div class="do">
                                    <div class="category_wr">
                                        <div class="category" id="research">
                                            Исследование
                                        </div>
                                        <div class="category" id="design">
                                            Дизайн
                                        </div>
                                        <div class="category" id="development">
                                            Разработка
                                        </div>
                                        <div class="category" id="crm">
                                            CRM
                                        </div>
                                        <div class="category" id="seo">
                                            SEO
                                        </div>
                                    </div>
            
                                    <div class="date">
                                        2022
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pre_it">

                    <div class="border_width"></div>

                    <div class="it">
                        
                        <div class="img_wrap">
                            <div class="blur"></div>
                            <img src="../../media/img/cases/bonnie_slide2.webp" alt="">
                        </div>
        
                        <div class="info_wrap">

                            <div class="border_height"></div>

                            <div class="info">
                                <div class="name">
                                    bonnie & slide
                                </div>

                                <div class="descr" id="case-4-descr">
                                    Помогли разработать серию промо игр для креативной студии, которая специализируется на презентациях - Bonnie & Slide. В каждой игре пользователи могли набирать очки и получать за это отличные бонусы от студии!
                                </div>

                                <div class="do">
                                    <div class="category_wr">
                                        <div class="category" id="development">
                                            Разработка
                                        </div>
                                    </div>
            
                                    <div class="date">
                                        2022
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>

<footer class="footer"></footer>

</body>
</html>