<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elegy cookie policy</title>
    <link rel="icon" href="../../media/icon/favicons/1.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../../styles/policy.css">
</head>

<body>
        <div id="disclaimer">
                <b>Дисклеймер:</b> на этой странице приведен машинный перевод текста политики конфиденциальности Elegy Studio на русский язык. Данный текст несет ознакомительный характер. 
                <br>С оригинальным текстом политики конфиденциальности можно ознакомиться <a href="/en/privacy-policy.html">здесь</a>.
        </div>
        <br>
        <h1 class="title"> ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ </h1>
        <div class="main-text">
                <div class="last-update"><b>Последнее обновление: 30 января 2023 г.</b></div>

        <br><br>Это уведомление о конфиденциальности для Elegy Studio (далее «Компания», «мы», «нас» или «наш») описывает, как и почему мы можем собирать, хранить, использовать и/или делиться (далее «обрабатывать») вашу информацию, когда вы пользуетесь нашими услугами (далее «Услуги»), например, когда вы:
        <ul>
                <li>Посещаете наш веб-сайт elegy.studio или любой другой веб-сайт, на котором есть ссылка на это уведомление о конфиденциальности.</li>
                <li>Взаимодействуете с нами другими способами, включая любые продажи, маркетинг или мероприятия.</li>
        </ul>
        <b>Вопросы или опасения?</b> Ознакомление с этим уведомлением о конфиденциальности поможет вам понять свои права и варианты выбора в отношении конфиденциальности. Если вы не согласны с нашей политикой и практикой, пожалуйста, не пользуйтесь нашими Услугами. Если у вас есть еще какие-либо вопросы или проблемы, свяжитесь с нами по адресу ourmail@elegy.studio.
                

        <h2 class="h2">ОБЗОР КЛЮЧЕВЫХ МОМЕНТОВ</h2>

        <b>В этом кратком изложении представлены ключевые моменты из нашего уведомления о конфиденциальности, но вы можете узнать более подробную информацию по любой из этих тем, щелкнув ссылку после каждого ключевого пункта или воспользовавшись нашим оглавлением ниже, чтобы найти нужный раздел. Вы также можете нажать <a href="#toc">здесь</a>, чтобы перейти непосредственно к оглавлению.</b>

        <br><br><b>Какую личную информацию мы обрабатываем?</b> Когда вы посещаете, используете или перемещаетесь по нашим Сервисам, мы можем обрабатывать личную информацию в зависимости от того, как вы взаимодействуете с Elegy Studio и Сервисами, какой выбор вы делаете, а также какие продукты и функции используете. Кликните <a href="#personalinfo">сюда</a>, чтобы узнать больше.

        <br><br><b>Обрабатываем ли мы какую-либо конфиденциальную личную информацию?</b> Мы не обрабатываем конфиденциальную личную информацию.

        <br><br><b>Получаем ли мы какую-либо информацию от третьих лиц?</b> Мы не получаем никакой информации от третьих лиц.

        <br><br><b>Как мы обрабатываем вашу информацию?</b> Мы обрабатываем вашу информацию, чтобы предоставлять, улучшать и администрировать наши Сервисы, общаться с вами, обеспечивать безопасность и предотвращать мошенничество, а также соблюдать законы. Мы также можем обрабатывать вашу информацию для других целей с вашего согласия. Мы обрабатываем вашу информацию только тогда, когда у нас есть веская юридическая причина для этого. Кликните <a href="#infouse">сюда</a>, чтобы узнать больше.

        <br><br><b>В каких ситуациях и каким сторонам мы передаем личную информацию?</b> Мы можем делиться информацией в определенных ситуациях и с определенными категориями третьих лиц. Кликните <a href="whoshare">сюда</a>, чтобы узнать больше.

        <br><br><b>Как мы обеспечиваем безопасность вашей информации?</b> У нас есть организационные и технические процессы и процедуры для защиты вашей личной информации. Однако никакая электронная передача через Интернет или технология хранения информации не могут быть гарантированы на 100% безопасными, поэтому мы не можем обещать или гарантировать, что хакеры, киберпреступники или другие неуполномоченные третьи лица не смогут нарушить нашу безопасность и ненадлежащим образом получить доступ к , украсть или изменить вашу информацию. Кликните <a href="infosafe">сюда</a>, чтобы узнать больше.

        <br><br><b>Каковы ваши права?</b> В зависимости от того, где вы находитесь географически, применимый закон о конфиденциальности может означать, что у вас есть определенные права в отношении вашей личной информации. Кликните <a href="#privacyrights">сюда</a>, чтобы узнать больше.

        <br><br><b>Как реализовать свои права?</b> Самый простой способ воспользоваться своими правами — заполнить нашу форму запроса субъекта данных, доступную <a href="https://app.termly.io/notify/a2221d69-66df-471e-af63-fbc937280a60">здесь</a>, или связаться с нами. Мы рассмотрим любой запрос и примем меры в соответствии с применимыми законами о защите данных.

        <br><br>Хотите узнать больше о том, что Elegy Studio делает с любой информацией, которую мы собираем? Щелкните <a href="#toc">здесь</a>, чтобы ознакомиться с уведомлением полностью.

        <h2 class="h2" id="toc">
                ОГЛАВЛЕНИЕ
        </h2>
        <ol>
                <li><a href="#infocollect">КАКУЮ ИНФОРМАЦИЮ МЫ СОБИРАЕМ?</a></li>
                <li><a href="#infouse">КАК МЫ ОБРАБАТЫВАЕМ ВАШУ ИНФОРМАЦИЮ?</a></li>
                <li><a href="#legalbases">КАКИЕ ЮРИДИЧЕСКИЕ ОСНОВАНИЯ МЫ ОСНОВАЕМСЯ ДЛЯ ОБРАБОТКИ ВАШЕЙ ЛИЧНОЙ ИНФОРМАЦИИ?</a></li>
                <li><a href="#whoshare">КОГДА И КОМУ МЫ ПЕРЕДАЕМ ВАШУ ЛИЧНУЮ ИНФОРМАЦИЮ?</a></li>
                <li><a href="#cookies">ИСПОЛЬЗУЕМ ЛИ МЫ ФАЙЛЫ COOKIES И ДРУГИЕ ТЕХНОЛОГИИ ОТСЛЕЖИВАНИЯ?</a></li>
                <li><a href="#inforetain">КАК ДОЛГО МЫ ХРАНИМ ВАШУ ИНФОРМАЦИЮ?</a></li>
                <li><a href="#infosafe">КАК МЫ ОБЕСПЕЧИВАЕМ БЕЗОПАСНОСТЬ ВАШЕЙ ИНФОРМАЦИИ?</a></li>
                <li><a href="#infominors">СОБИРАЕМ ЛИ МЫ ИНФОРМАЦИЮ О НЕСОВЕРШЕННОЛЕТНИХ?</a></li>
                <li><a href="#privacyrights">КАКОВЫ ВАШИ ПРАВА НА КОНФИДЕНЦИАЛЬНОСТЬ?</a></li>
                <li><a href="#DNT">КОНТРОЛЬ ДЛЯ НЕОТСЛЕЖИВАЕМЫХ ФУНКЦИЙ</a></li>
                <li><a href="#caresidents">ИМЕЮТ ЛИ ЖИТЕЛИ КАЛИФОРНИИ КОНКРЕТНЫЕ ПРАВА НА КОНФИДЕНЦИАЛЬНОСТЬ?</a></li>
                <li><a href="#policyupdates">ДЕЛАЕМ ЛИ МЫ ОБНОВЛЕНИЯ ДЛЯ ЭТОГО УВЕДОМЛЕНИЯ?</a></li>
                <li><a href="#contact">КАК ВЫ МОЖЕТЕ СВЯЗАТЬСЯ С НАМИ ПО ЭТОМУ УВЕДОМЛЕНИЮ?</a></li>
                <li><a href="#request">КАК ВЫ МОЖЕТЕ ПРОСМОТРЕТЬ, ОБНОВИТЬ ИЛИ УДАЛИТЬ ДАННЫЕ, КОТОРЫЕ МЫ СОБИРАЕМ ОТ ВАС?</a></li>
        </ol>

        <h2 class="h2" id="infocollect">1. КАКУЮ ИНФОРМАЦИЮ МЫ СОБИРАЕМ?</h2>

        <h3 class="h3">
                Личная информация, которую вы раскрываете нам
        </h3>

        <b><i>Вкратце:</i></b> <i>мы собираем личную информацию, которую вы нам предоставляете.</i>

        <br><br>Мы собираем личную информацию, которую вы добровольно предоставляете нам, когда вы выражаете заинтересованность в получении информации о нас или наших продуктах и Услугах, когда вы участвуете в деятельности, связанной с Услугами, или иным образом, когда вы связываетесь с нами.

        <br><br><b>Личная информация, предоставленная вами.</b> Личная информация, которую мы собираем, зависит от контекста вашего взаимодействия с нами и Услугами, выбора, который вы делаете, а также продуктов и функций, которые вы используете. Личная информация, которую мы собираем, может включать следующее:
        <ul>
                <li>телефонные номера</li>
                <li>адрес электронной почты</li>
                <li>имена пользователей</li>
                <li>контактные предпочтения</li>
        </ul>
        <b>Конфиденциальная информация.</b> Мы не обрабатываем конфиденциальную информацию.

        <br><br>Вся личная информация, которую вы нам предоставляете, должна быть достоверной, полной и точной, и вы должны уведомлять нас о любых изменениях такой личной информации.
        
        <h3 class="h3">
                Автоматически собираемая информация
        </h3>

        <b><i>Вкратце:</i></b> <i>некоторая информация, такая как адрес вашего интернет-протокола (IP) и/или характеристики браузера и устройства.</i>
        
        <br><br>Мы автоматически собираем определенную информацию, когда вы посещаете, используете или перемещаетесь по Услугам. Эта информация не раскрывает вашу конкретную личность (например, ваше имя или контактную информацию), но может включать информацию об устройстве и использовании, например ваш IP-адрес, характеристики браузера и устройства, операционную систему, языковые настройки, URL-адреса ссылок, имя устройства, страну, местоположение. , информацию о том, как и когда вы используете наши Услуги, и другую техническую информацию. Эта информация в первую очередь необходима для обеспечения безопасности и работы наших Сервисов, а также для нашей внутренней аналитики и отчетности.

        <br><br>Как и многие компании, мы также собираем информацию с помощью файлов cookie и аналогичных технологий. Вы можете узнать больше об этом в нашем Уведомлении об использовании файлов cookie: <a href="cookie-policy">elegy.studio/cookie-policy</a>.

        Информация, которую мы собираем, включает:
        <ul>
                <li>
                        <i>Логи и данные об использовании.</i> Логи и данные об использовании — это информация, относящаяся к услугам, диагностике, использованию и производительности, которую наши серверы автоматически собирают, когда вы получаете доступ к нашим Услугам или используете их, и которую мы записываем в файлы журналов. В зависимости от того, как вы взаимодействуете с нами, эти данные журнала могут включать ваш IP-адрес, информацию об устройстве, тип браузера, а также настройки и информацию о вашей активности в Сервисах (например, метки даты/времени, связанные с вашим использованием, просмотренными страницами и файлами). , поиск и другие действия, которые вы предпринимаете, например, какие функции вы используете), информацию о событиях устройства (например, активность системы, отчеты об ошибках (иногда называемые «аварийными дампами») и настройки оборудования).
                </li>
                <li>
                        <i>Данные о местоположении.</i> Мы собираем данные о местоположении, такие как информация о местонахождении вашего устройства, которая может быть точной или неточной. Объем собираемой нами информации зависит от типа и настроек устройства, которое вы используете для доступа к Услугам. Например, мы можем использовать GPS и другие технологии для сбора данных геолокации, которые сообщают нам ваше текущее местоположение (на основе вашего IP-адреса). Вы можете запретить нам собирать эту информацию, либо отказав в доступе к информации, либо отключив настройку «Местоположение» на своем устройстве. Однако, если вы решите отказаться, вам могут стать недоступны некоторые услуги.
                </li>
        </ul>

        <h2 class="h2" id="infouse">
                2. КАК МЫ ОБРАБАТЫВАЕМ ВАШУ ИНФОРМАЦИЮ?
        </h2>

        <b><i>Вкратце:</i></b> <i>мы обрабатываем вашу информацию, чтобы предоставлять, улучшать и администрировать наши Сервисы, общаться с вами, обеспечивать безопасность и предотвращать мошенничество, а также соблюдать законы. Мы также можем обрабатывать вашу информацию для других целей с вашего согласия.</i>
        <br><br><b>
                Мы обрабатываем вашу личную информацию по разным причинам, в зависимости от того, как вы взаимодействуете с нашими Услугами, в том числе:
        </b>
        <ul>
                <li>
                        Отвечать на запросы пользователей/предлагать поддержку пользователям. Мы можем обрабатывать вашу информацию, чтобы отвечать на ваши запросы и решать любые потенциальные проблемы, которые могут возникнуть у вас с запрошенной услугой.
                </li>
                <li>
                        Для выявления тенденций использования. Мы можем обрабатывать информацию о том, как вы используете наши Услуги, чтобы лучше понять, как они используются, чтобы мы могли их улучшить.
                </li>
                <li>
                        Чтобы сохранить или защитить жизненно важные интересы человека. Мы можем обрабатывать вашу информацию, когда это необходимо для сохранения или защиты жизненно важных интересов человека, например, для предотвращения вреда.
                </li>
        </ul>
        
        <h2 class="h2" id="legalbases">3. НА КАКИЕ ЮРИДИЧЕСКИЕ ОСНОВАНИЯ МЫ ПОЛАГАЕМСЯ ПРИ ОБРАБОТКЕ ВАШЕЙ ИНФОРМАЦИИ?</h2>
        
        <b><i>Вкратце:</i></b> <i>мы обрабатываем вашу личную информацию только тогда, когда мы считаем это необходимым, и у нас есть веская юридическая причина (т. е. правовая основа) для этого в соответствии с действующим законодательством, например, с вашего согласия, для соблюдения законов, для предоставления вам услуг. для заключения или выполнения наших договорных обязательств, для защиты ваших прав или для реализации наших законных деловых интересов.</i>
        
        <br><br><i><b><u>Если вы находитесь в ЕС или Великобритании, этот раздел относится к вам.</i></u></b>
        
        <br><br>Общее положение о защите данных (GDPR) и GDPR Великобритании требуют, чтобы мы объяснили действительные правовые основания, на которые мы полагаемся при обработке вашей личной информации. Таким образом, мы можем полагаться на следующие правовые основания для обработки вашей личной информации:
        <ul>
                <li><b>Согласие.</b> Мы можем обрабатывать вашу информацию, если вы дали нам разрешение (т. е. согласие) на использование вашей личной информации для определенной цели. Вы можете отозвать свое согласие в любое время. Кликните <a href="#withdrawconsent">сюда</a>, чтобы узнать больше.</li>
                <li><b>Исполнение контракта.</b> Мы можем обрабатывать вашу личную информацию, когда мы считаем, что это необходимо для выполнения наших договорных обязательств перед вами, включая предоставление наших Услуг, или по вашему запросу до заключения с вами договора.</li>
                <li><b>Законные интересы.</b> Мы можем обрабатывать вашу информацию, когда мы считаем, что это разумно необходимо для достижения наших законных деловых интересов, и эти интересы не перевешивают ваши интересы и основные права и свободы. Например, мы можем обрабатывать вашу личную информацию для некоторых из описанных целей, чтобы:</li>
                        <ul><li>Анализировать, как используются наши Сервисы, чтобы мы могли улучшить их для привлечения и удержания пользователей.</li></ul>
                <li><b>Правовые обязательства.</b> Мы можем обрабатывать вашу информацию, если мы считаем, что это необходимо для соблюдения наших юридических обязательств, например, для сотрудничества с правоохранительным или регулирующим органом, осуществления или защиты наших законных прав или раскрытия вашей информации в качестве доказательства в судебном процессе, в котором мы участвуем. вовлеченный.</li>
                <li><b>Жизненно важные интересы.</b> Мы можем обрабатывать вашу информацию, когда мы считаем, что это необходимо для защиты ваших жизненно важных интересов или жизненно важных интересов третьей стороны, например, в ситуациях, связанных с потенциальными угрозами безопасности любого лица.</li>
        </ul>

        <b><u><i>Если вы находитесь в Канаде, этот раздел относится к вам.</i></u></b>

        <br><br>Мы можем обрабатывать вашу информацию, если вы дали нам конкретное разрешение (т. е. явно выраженное согласие) на использование вашей личной информации для определенной цели или в ситуациях, когда ваше разрешение может быть выведено (т. е. подразумеваемое согласие). Вы можете отозвать свое согласие в любое время. Нажмите <a href="#">сюда</a>, чтобы узнать больше.
        
        <br><br>В некоторых исключительных случаях в соответствии с действующим законодательством нам может быть разрешено обрабатывать вашу информацию без вашего согласия, в том числе, например:
        <ul>
                <li>Если сбор явно отвечает интересам физического лица и согласие не может быть получено своевременно</li>
                <li>Для расследований и обнаружения и предотвращения мошенничества</li>
                <li>Для хозяйственных операций при соблюдении определенных условий</li>
                <li>Если он содержится в свидетельских показаниях и сбор необходим для оценки, обработки или урегулирования страхового случая</li>
                <li>Для опознания раненых, больных или умерших и связи с ближайшими родственниками</li>
                <li>Если у нас есть разумные основания полагать, что физическое лицо было, является или может стать жертвой финансового злоупотребления</li>
                <li>Если разумно ожидать, что сбор и использование с согласия поставит под угрозу доступность или точность информации, и сбор разумен для целей, связанных с расследованием нарушения соглашения или нарушения законов Канады или провинции</li>
                <li>Если раскрытие требуется для выполнения повестки в суд, ордера, постановления суда или правил суда, касающихся производства записей</li>
                <li>Если она была произведена физическим лицом в ходе своей работы, бизнеса или профессии, и сбор соответствует целям, для которых информация была произведена</li>
                <li>Если коллекция предназначена исключительно для журналистских, художественных или литературных целей</li>
                <li>Если информация находится в открытом доступе и предусмотрена нормативными актами</li>
        </ul>
        <h2 class="h2" id="whoshare">
                4. КОГДА И КОМУ МЫ ПЕРЕДАЕМ ВАШУ ЛИЧНУЮ ИНФОРМАЦИЮ?
        </h2>

        <b><i>Вкратце:</i></b> <i>мы можем делиться информацией в определенных ситуациях, описанных в этом разделе, и/или со следующими категориями третьих лиц.</i>
        
        <br><br><b>Поставщики, консультанты и другие сторонние поставщики услуг.</b> Мы можем передавать ваши данные сторонним поставщикам, поставщикам услуг, подрядчикам или агентам («третьи лица»), которые оказывают услуги для нас или от нашего имени и которым для выполнения этой работы требуется доступ к такой информации. У нас есть договоры с нашими третьими лицами, которые предназначены для защиты вашей личной информации. Это означает, что они не могут ничего сделать с вашей личной информацией, если мы не проинструктируем их сделать это. Они также не будут передавать вашу личную информацию какой-либо организации, кроме нас. Они также обязуются защищать данные, которые они хранят от нашего имени, и хранить их в течение периода, который мы указываем. Категории третьих лиц, которым мы можем передавать личную информацию, следующие:
        <ul>
                <li>Услуги по анализу данных</li>
        </ul>
        Нам также может понадобиться предоставить вашу личную информацию в следующих ситуациях:
        <ul>
                
                <li>Деловые трансферы. Мы можем делиться или передавать вашу информацию в связи или во время переговоров о любом слиянии, продаже активов компании, финансировании или приобретении всего или части нашего бизнеса другой компании.</li>
        </ul>
        
        <h2 class="h2" id="cookies">5. ИСПОЛЬЗУЕМ ЛИ МЫ ФАЙЛЫ COOKIES И ДРУГИЕ ТЕХНОЛОГИИ ОТСЛЕЖИВАНИЯ?</h2>
        
        <b><i>Вкратце:</i></b> <i>мы можем использовать файлы cookie и другие технологии отслеживания для сбора и хранения вашей информации.</i>
        
        <br><br>Мы можем использовать файлы cookie и аналогичные технологии отслеживания (например, веб-маяки и пиксели) для доступа илcookie-polи хранения информации. Конкретная информация о том, как мы используем такие технологии и как вы можете отказаться от определенных файлов cookie, изложена в нашем Уведомлении об использовании файлов cookie: <a href="cookie-policy">elegy.studio/cookie-policy</a>.
        
        <h2 class="h2" id="inforetain">6. КАК ДОЛГО МЫ ХРАНИМ ВАШУ ИНФОРМАЦИЮ?</h2>
        
        <b><i>Вкратце:</i></b> <i>мы храним вашу информацию до тех пор, пока это необходимо для достижения целей, изложенных в этом уведомлении о конфиденциальности, если иное не требуется по закону.</i>
        
        <br><br>Мы будем хранить вашу личную информацию только до тех пор, пока это необходимо для целей, изложенных в этом уведомлении о конфиденциальности, за исключением случаев, когда более длительный срок хранения требуется или разрешен законом (например, налоговыми, бухгалтерскими или другими правовыми требованиями).
        
        <br><br>Если у нас нет постоянной законной деловой необходимости обрабатывать вашу личную информацию, мы либо удалим, либо анонимизируем такую информацию, либо, если это невозможно (например, из-за того, что ваша личная информация хранилась в архивах резервных копий), мы безопасно хранить вашу личную информацию и изолировать ее от дальнейшей обработки до тех пор, пока удаление не станет возможным.
        
        <h2 class="h2" id="infosafe">7. КАК МЫ ОБЕСПЕЧИВАЕМ БЕЗОПАСНОСТЬ ВАШЕЙ ИНФОРМАЦИИ?</h2>

        <b><i>Вкратце:</i></b> <i>Мы стремимся защитить вашу личную информацию с помощью системы организационных и технических мер безопасности.</i>
        
        <br><br>Мы внедрили соответствующие и разумные технические и организационные меры безопасности, предназначенные для защиты безопасности любой личной информации, которую мы обрабатываем. Однако, несмотря на наши меры безопасности и усилия по защите вашей информации, никакая электронная передача через Интернет или технологии хранения информации не могут быть гарантированы на 100%, поэтому мы не можем обещать или гарантировать, что хакеры, киберпреступники или другие неуполномоченные третьи лица не будут защищены. могут обойти нашу систему безопасности и ненадлежащим образом собирать, получать доступ, красть или изменять вашу информацию. Хотя мы делаем все возможное для защиты вашей личной информации, передача личной информации в наши Сервисы и из них осуществляется на ваш страх и риск. Вы должны получать доступ к Услугам только в безопасной среде.
        
        <h2 class="h2" id="infominors">8. СОБИРАЕМ ЛИ МЫ ИНФОРМАЦИЮ О НЕСОВЕРШЕННОЛЕТНИХ?</h2>
        
        <b><i>Вкратце:</i></b> <i>мы не собираем данные и не продаем данные детям младше 18 лет.</i>
        
        <br><br>Мы не запрашиваем сознательно данные у детей младше 18 лет и не продаем их. Используя Услуги, вы подтверждаете, что вам исполнилось 18 лет или что вы являетесь родителем или опекуном такого несовершеннолетнего и даете согласие на использование Услуг таким несовершеннолетним иждивенцем. Если мы узнаем, что была собрана личная информация от пользователей младше 18 лет, мы деактивируем учетную запись и примем разумные меры для незамедлительного удаления таких данных из наших записей. Если вам станет известно о каких-либо данных, которые мы могли получить от детей в возрасте до 18 лет, свяжитесь с нами по адресу ourmail@elegy.studio.
        
        <h2 class="h2" id="privacyrights">9. КАКОВЫ ВАШИ ПРАВА НА КОНФИДЕНЦИАЛЬНОСТЬ?</h2>
        
        <b><i>Вкратце:</i></b> <i>в некоторых регионах, таких как Европейская экономическая зона (ЕЭЗ), Великобритания (Великобритания) и Канада, у вас есть права, которые предоставляют вам более широкий доступ к вашей личной информации и контроль над ней. Вы можете просмотреть, изменить или прекратить действие своей учетной записи в любое время.</i>
        
        <br><br>В некоторых регионах (например, в ЕЭЗ, Великобритании и Канаде) у вас есть определенные права в соответствии с применимыми законами о защите данных. Они могут включать право (i) запросить доступ и получить копию вашей личной информации, (ii) запросить исправление или удаление; (iii) ограничить обработку вашей личной информации; и (iv) если применимо, к переносимости данных. В определенных обстоятельствах вы также можете иметь право возражать против обработки вашей личной информации. Вы можете сделать такой запрос, связавшись с нами, используя контактную информацию, указанную в разделе <a href="#contact">«КАК ВЫ МОЖЕТЕ СВЯЗАТЬСЯ С НАМИ ПО ЭТОМУ УВЕДОМЛЕНИЮ?»</a> ниже.
        
        <br><br>Мы рассмотрим любой запрос и примем меры в соответствии с применимыми законами о защите данных.
         
        <br><br>Если вы находитесь в ЕЭЗ или Великобритании и считаете, что мы незаконно обрабатываем вашу личную информацию, вы также имеете право подать жалобу в местный орган по надзору за защитой данных. Вы можете найти их контактную информацию здесь: <a href="https://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm">https://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm</a>.
        
        <br><br>Если вы находитесь в Швейцарии, контактные данные органов по защите данных доступны здесь: <a href="https://www.edoeb.admin.ch/edoeb/en/home.html">https://www.edoeb.admin.ch/edoeb/en/home.html</a>.
        
        <br><br><b id="withdrawconsent"><u>Отзыв вашего согласия:</u></b> если мы полагаемся на ваше согласие на обработку вашей личной информации, которое может быть явным и/или подразумеваемым согласием в зависимости от применимого законодательства, вы имеете право отозвать свое согласие в любое время. Вы можете отозвать свое согласие в любое время, связавшись с нами, используя контактную информацию, указанную в разделе <a href="#contact">«КАК ВЫ МОЖЕТЕ СВЯЗАТЬСЯ С НАМИ ПО ЭТОМУ УВЕДОМЛЕНИЮ?»</a> ниже.
        
        <br><br>Однако обратите внимание, что это не повлияет на законность обработки до ее отзыва, а также, когда это разрешено применимым законодательством, не повлияет на обработку вашей личной информации, осуществляемую на законных основаниях обработки, кроме согласия.
        
        <br><br><b><u>Файлы cookie и аналогичные технологии:</u></b> Большинство веб-браузеров по умолчанию настроены на прием файлов cookie. Если вы предпочитаете, вы обычно можете настроить свой браузер на удаление файлов cookie и отклонение файлов cookie. Если вы решите удалить файлы cookie или отклонить файлы cookie, это может повлиять на определенные функции или услуги наших Сервисов. Чтобы отказаться от рекламы рекламодателей на основе интересов в наших Сервисах, посетите страницу <a href="http://www.aboutads.info/choices/">http://www.aboutads.info/choices/</a>. Для получения дополнительной информации см. наше Уведомление об использовании файлов cookie: <a href="cookie-policy.html">elegy.studio/cookie-policy</a>.
        
        <br><br>Если у вас есть вопросы или комментарии о ваших правах на конфиденциальность, вы можете написать нам по адресу ourmail@elegy.studio.

        <h2 class="h2" id="DNT">10. КОНТРОЛЬ ДЛЯ НЕОТСЛЕЖИВАЕМЫХ ФУНКЦИЙ</h2>

        Большинство веб-браузеров, а также некоторые мобильные операционные системы и мобильные приложения включают функцию «Не отслеживать» («DNT») или параметр, который вы можете активировать, чтобы сигнализировать о том, что вы предпочитаете конфиденциальность, чтобы данные о ваших действиях в Интернете не отслеживались и не собирались. На данном этапе не разработан единый технологический стандарт распознавания и реализации сигналов DNT. Таким образом, в настоящее время мы не реагируем на сигналы браузера DNT или любой другой механизм, который автоматически сообщает о вашем решении не отслеживаться в Интернете. Если будет принят стандарт онлайн-отслеживания, которому мы должны следовать в будущем, мы сообщим вам об этой практике в пересмотренной версии настоящего уведомления о конфиденциальности.
        
        <h2 class="h2" id="caresidents">11. ИМЕЮТ ЛИ ЖИТЕЛИ КАЛИФОРНИИ КОНКРЕТНЫЕ ПРАВА НА КОНФИДЕНЦИАЛЬНОСТЬ?</h2>
        
        <b><i>Вкратце:</i></b> <i>Да, если вы являетесь жителем Калифорнии, вам предоставляются определенные права в отношении доступа к вашей личной информации.</i>
        
        <br><br>Раздел 1798.83 Гражданского кодекса Калифорнии, также известный как закон "Shine The Light", разрешает нашим пользователям, проживающим в Калифорнии, запрашивать и получать от нас раз в год и бесплатно информацию о категориях личной информации (если таковые имеются), которые мы раскрывается третьим лицам в целях прямого маркетинга, а также имена и адреса всех третьих лиц, которым мы передавали личную информацию в непосредственно предшествующем календарном году. Если вы являетесь жителем Калифорнии и хотели бы сделать такой запрос, отправьте нам свой запрос в письменной форме, используя контактную информацию, указанную ниже.
        
        <br><br>Если вам меньше 18 лет, вы проживаете в Калифорнии и имеете зарегистрированную учетную запись в Сервисах, вы имеете право запросить удаление нежелательных данных, которые вы публично публикуете в Сервисах. Чтобы запросить удаление таких данных, свяжитесь с нами, используя контактную информацию, указанную ниже, и укажите адрес электронной почты, связанный с вашей учетной записью, и заявление о том, что вы проживаете в Калифорнии. Мы позаботимся о том, чтобы данные не отображались публично в Сервисах, но имейте в виду, что данные не могут быть полностью или полностью удалены из всех наших систем (например, из резервных копий и т. д.).
        
        <h2 class="h2" id="policyupdates">12. ДЕЛАЕМ ЛИ МЫ ОБНОВЛЕНИЯ ДЛЯ ЭТОГО УВЕДОМЛЕНИЯ?</h2>
        
        <b><i>Вкратце:</i></b> <i>Да, мы будем обновлять это уведомление по мере необходимости, чтобы соответствовать применимым законам.</i>
        
        <br><br>Мы можем время от времени обновлять это уведомление о конфиденциальности. Обновленная версия будет отмечена обновленной датой «Пересмотрено», и обновленная версия вступит в силу, как только станет доступной. Если мы внесем существенные изменения в это уведомление о конфиденциальности, мы можем уведомить вас либо путем размещения уведомления о таких изменениях на видном месте, либо путем отправки вам уведомления напрямую. Мы рекомендуем вам регулярно просматривать это уведомление о конфиденциальности, чтобы быть в курсе того, как мы защищаем вашу информацию.
        
        <h2 class="h2" id="contact">13. КАК ВЫ МОЖЕТЕ СВЯЗАТЬСЯ С НАМИ ПО ЭТОМУ УВЕДОМЛЕНИЮ?</h2>
        
        Если у вас есть вопросы или комментарии по этому уведомлению, вы можете написать нам по адресу ourmail@elegy.studio.
        
        <h2 class="h2" id="request">14. КАК ВЫ МОЖЕТЕ ПРОСМОТРЕТЬ, ОБНОВИТЬ ИЛИ УДАЛИТЬ ДАННЫЕ, КОТОРЫЕ МЫ СОБИРАЕМ ОТ ВАС?</h2>
        
        Вы имеете право запросить доступ к личной информации, которую мы получаем от вас, изменить эту информацию или удалить ее. Чтобы запросить просмотр, обновление или удаление вашей личной информации, отправьте форму запроса, нажав <a href="https://app.termly.io/notify/a2221d69-66df-471e-af63-fbc937280a60">здесь</a>.

</div>

<div style="color: #595959;font-size: 14px;font-family: Arial;padding-top:16px;">
        Эта политика конфиденциальности была создана с помощью <a style="color: rgb(48, 48, 241) !important;" href="https://termly.io/products/privacy-policy-generator/">генератора политики конфиденциальности Termly.</a>.
</div>

</body>
</html>