<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How we work</title>
    <meta name="description" content="We do various jobs to achieve best results for our customers, such as market research, designing, developing,
    promoting and maintaining our products.">
    <link rel="icon" href="../../media/icon/favicons/1.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../../styles/style.min.css">
</head>
<body data-barba="wrapper">

    
    <!-- PAGE TRANSITION ANIMATION -->
    <div class="loader-overlay one"></div>
    <div class="loader-overlay two"></div>
    
<div id="all_root" data-barba="container" data-barba-namespace="site">
        
    <header class="hdr hdr-work bg-green"></header>
    <main class="bg-green root-index">
        <section class="sec_work-1">
            <div class="h1-a h1-t" id="work-title">
                how we create and launch web projects
            </div>

            <!-- <div class="divider"></div> -->
        </section>

        <div class="sec_work-2 work_border-trigger">

            <div class="work_it">
                <div class="border_width-work"></div>
                <div class="ite">
                    <div class="lf">
                        <div class="count">01</div>
                        <div class="name name-1" id="research">
                            Исследование
                        </div>
                    </div>
            
                    <div class="rg">
                        <div class="border_height-work"></div>
                        <div class="ite">
                            <div class="name">
                                research
                            </div>
                            <p id="work-descr-1">
                                При создании уникального опыта для брендов и организаций, мы тщательно исследуем конкурентов и рынок, изучаем потенциальных пользователей и анализируем современные тенденции. Качественный анализ позволяет нам создавать наиболее эффективные и конкурентноспособные продукты
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="work_it">
                <div class="border_width-work"></div>
                <div class="ite">
                    <div class="lf">
                        <div class="count">02</div>
                        <div class="name name-2" id="design">
                            Дизайн
                        </div>
                    </div>
            
                    <div class="rg">
                        <div class="border_height-work"></div>
                        <div class="ite">
                            <div class="name">
                                design
                            </div>
                            <p id="work-descr-2">
                                Используем лучшие методы, чтобы создать для пользователя красивый и понятный дизайн, делая его не только эффективным, но и эффектным. Дополняем наши сайты анимациями и интерактивным 3D, поэтому на них никто не заскучает! Также мы готовы делать разработку под ваш собственный дизайн и открыты к таким предложениями
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="work_it">
                <div class="border_width-work"></div>
                <div class="ite">
                    <div class="lf">
                        <div class="count">03</div>
                        <div class="name name-3" id="development">
                            Разработка
                        </div>
                    </div>
            
                    <div class="rg">
                        <div class="border_height-work"></div>
                        <div class="ite">
                            <div class="name">
                                Development
                            </div>
                            <p id="work-descr-3">
                                Мы верстаем, делаем фронтенд и бэкенд разработку, создаем сайты, веб-приложения и веб-игры. В это входит реализация основных функций сайта, обеспечение интеграции с базами данных, CRM-системами и сторонними сервисами, и предоставление пользователям возможности взаимодействовать с содержимым сайта
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="work_it bg_color-trigger">
                <div class="border_width-work"></div>
                <div class="ite">
                    <div class="lf">
                        <div class="count">04</div>
                        <div class="name name-4" id="creativity">
                            Креативность
                        </div>
                    </div>
            
                    <div class="rg">
                        <div class="border_height-work"></div>
                        <div class="ite">
                            <div class="name">
                                creativity
                            </div>
                            <p id="work-descr-4">
                                С помощью современных веб - решений, мы создаем эффектные анимации, которые дарят пользователю совершенно новые эмоции при посещение сайта
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="work_it">
                <div class="border_width-work"></div>
                <div class="ite">
                    <div class="lf">
                        <div class="count">05</div>
                        <div class="name name-5" id="seo">
                            seo
                        </div>
                    </div>
            
                    <div class="rg">
                        <div class="border_height-work"></div>
                        <div class="ite">
                            <div class="name">
                                Seo
                            </div>
                            <p id="work-descr-5">
                                Внутренняя оптимизации ресурсов помогает нам достигать улучшения показателей SEO. Мы заботимся о том, чтобы наши сайты соответствовали всем необходимым требованиям
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="work_it">
                <div class="border_width-work"></div>
                <div class="ite">
                    <div class="lf">
                        <div class="count">06</div>
                        <div class="name name-6" id="maintenance">
                            Поддержка
                        </div>
                    </div>
            
                    <div class="rg">
                        <div class="border_height-work"></div>
                        <div class="ite">
                            <div class="name">
                                maintenance
                            </div>
                            <p id="work-descr-6">
                                Вы так же можете не переживать, что останетесь со сложным веб-продуктом один на один, ведь мы помогаем нашим клиентам в поддержке и развитии запущенных ранее сайтов
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>        
</div>

<footer class="footer"></footer>

</body>
</html>