<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="styles/style.min.css">
</head>
<body>
    <header class="hdr"></header>

    <main id="root-index">
        <div class="blob">
            <canvas></canvas>
        </div>

        <section class="sec-1 sec-1--about">
            <div class="h1-a h1-t" id="alchemy">
                create web <br> alchemy
            </div>

            <div class="about_text" id="about-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque soluta non voluptates qui, incidunt culpa perferendis esse sunt possimus numquam vero omnis, corporis natus quo assumenda nesciunt consequatur obcaecati ipsam ut commodi ducimus cumque. Distinctio voluptatum aliquid fugiat, non ipsum consectetur provident pariatur expedita aperiam numquam nam nihil. Commodi iusto dolores, corporis veritatis quasi unde repellendus aperiam molestias nesciunt eaque.
            </div>
        </section>


        <footer class="footer"></footer>
        
        <!-- <script src="/components/js/header.js"></script>
        <script src="/components/js/footer.js"></script> -->
    </main>
    
    <script src="https://unpkg.com/split-type"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js" integrity="sha512-gmwBmiTVER57N3jYS3LinA9eb8aHrJua5iQD7yqYCKa5x6Jjc7VDVaEA0je0Lu0bP9j7tEjV3+1qUm6loO99Kw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/CSSRulePlugin.min.js" integrity="sha512-2+BGFUqT8mzxE2ifxQK7kcEhOeHaO5EOrUgRIUJ9+HoIw8zQHI+HvnVrgGjwW0qL5dpGv8ao2oZlBS7IvvCuhA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js" integrity="sha512-tHvUcUQYi35zApvAa5TNR3fNhBQkVtkmWKfacnpxmix4/VTGz1lGjIVyLMp7gLgAvg+aKJjnVKokXJNS5GZ+/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script src="index.js"></script>

</body>
</html>