<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cases</title>
    <link rel="stylesheet" href="styles/style.min.css">

    <script defer src="./index.js"></script>
</head>
<body>

<header class="hdr"></header>


<main id="root-index">
    <section class="sec_work-1">
        <div class="h1-a" id="work-title">
            how we create and launch web projects
        </div>

        <div class="divider"></div>
    </section>

    <div class="sec_work-2">
        <div class="lf">
            <div class="count"></div>
            <div class="name">

            </div>
        </div>

        <div class="rg">

        </div>
    </div>

    
    <footer class="footer"></footer>
</main>

</body>
</html>