* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &::selection {
        background-color: #28282863; 
    }
}
// Media
$breakpoint-xxs-min: 360px;
$breakpoint-xs-min: 420px;
$breakpoint-sm-min: 576px;
$breakpoint-md-min: 768px;
$breakpoint-lg-min: 992px;
$breakpoint-xl-min: 1200px;
$breakpoint-xxl-min: 1400px;

$breakpoint-xs-max: $breakpoint-xs-min - 1px;
$breakpoint-s-max: $breakpoint-sm-min - 1px;
$breakpoint-sm-max: $breakpoint-md-min - 1px;
$breakpoint-md-max: $breakpoint-lg-min - 1px;
$breakpoint-lg-max: $breakpoint-xl-min - 1px;
$breakpoint-xl-max: $breakpoint-xxl-min - 1px;

// NeueMetana
@font-face {
    font-family: 'NeueMetana-bold';
    src: url(../fonts/NeueMetana-Bold.otf);
}
@font-face {
    font-family: 'NeueMetana-regular';
    src: url(../fonts/NeueMetana-Regular.otf);
}
// Inter 
@font-face {
    font-family: 'Inter-light';
    src: url(../fonts/Inter-Light.otf);
}
@font-face {
    font-family: 'Inter-regular';
    src: url(../fonts/Inter-Regular.otf);
}
// Wagon 
@font-face {
    font-family: 'Wagon';
    src: url(../fonts/Wagon-ExtraLightItalic.otf);
}

//variables

$white-color: #ffffff;
$black-color: #282828;
$gray-color: #EDEDED;

//mixins
@mixin list-null {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.h1-a {
    cursor: default;
}
body {
    font-family: 'Inter-regular';
    color: $black-color;
    background: $gray-color
    
      
}
body::-webkit-scrollbar {
    display: none;
}
body {
    -ms-overflow-style: none;  /* IE и Edge */
    scrollbar-width: none;  /* Firefox */
}
// tags
li {
    @include list-null();
}
a {
    color: $black-color;
    text-decoration: none;
}

// UI elements
.char {
    // transform: translateY(60px);
    // opacity: 0;
    // clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    &:hover {
        font-family: 'Wagon';
        letter-spacing: 0.4rem;
        // transition: .3s;
    }
}
.word {
    transform: translateY(40px);
    // opacity: 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.load_anim {
    transform: translateY(20px);
    // opacity: 0;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}
.btn-title {
    display: inline-block;
    padding: 7px;
    .cont {
        border: 1px solid $black-color;
        border-radius: 22px;
        padding: 0 7px 1.5px;
        letter-spacing: -0.5px;
        &:hover {
            background: $black-color;
            color: $gray-color;
        }
    }
}


#root-index{
    width: 100%;
    -webkit-font-smoothing: antialiased;
    // transition: .3s;
    background: $gray-color;
    margin-bottom: 300px;
    z-index: 1;
    border-radius: 0 0 20px 20px;
    @media  (max-width: $breakpoint-xs-min) {
        margin-bottom: 265px;
    }
}

// Import files 
@import 'header.scss';
@import 'index.scss';
@import 'footer.scss';

#root-index{
    width: 100%;
    -webkit-font-smoothing: antialiased;
    // transition: .3s;
    background: $gray-color;
    margin-bottom: 300px;
    z-index: 1;
    border-radius: 0 0 20px 20px;
    @media  (max-width: $breakpoint-xs-min) {
        margin-bottom: 265px;
    }

    .sec_cases {
        &-1 {
            // display: flex;
            display: flex;
            // flex-direction: row;
            justify-content: flex-start;
            align-items: flex-end;
            padding: 130px 50px 20px;
            // height: 100vh;
            width: 100%;
            @media  (max-width: $breakpoint-md-min) {
                padding: 130px 20px 120px;
            }
            @media  (max-width: $breakpoint-sm-min) {
                padding: 90px 20px 70px;
                height: 87vh;
            }
            .h1-a {
                display: inline-block;
                font-family: 'NeueMetana-Regular';
                text-transform: uppercase;
                font-size: 102px;
                letter-spacing: -0.4rem;
                line-height: 90%;
    
                @media  (max-width: $breakpoint-lg-min) {
                    font-size: 84px;
                    letter-spacing: -0.3rem;
                }
                @media  (max-width: $breakpoint-md-min) {
                    font-size: 64px;
                    letter-spacing: -0.2rem;
                }
                @media  (max-width: $breakpoint-sm-min) {
                    font-size: 58px;
                }
            }

            .h6-text {
                display: inline-block;
                width: 30%;
                font-size: 18px;
                line-height: 95%;
                letter-spacing: -0.5px;
                margin-left: auto;
            }

        }

        &-2 {
            padding: 0 50px 50px;
            .cs_cont {
                border-top: 1px solid $black-color;
                padding-top: 1vw;
                display: flex;
                flex-direction: column;
                margin-bottom: 90px;
            }

            .cs_wrap {
                .pre_it {
                    .border_width {
                        width: 100%;
                        height: 1.2px;
                        background-color: $black-color;
                        clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
                    }
                    .it {
                        width: 100%;
                        display: flex;
                        // margin-bottom: 60px;
                        .img_wrap {
                            padding: 1vw 1vw 1vw 0;
                            width: 50%;
                            height: auto;
                            position: relative;
                            .blur {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                top: 0;
                                left: 0;
                                // backdrop-filter: blur(10px);
                            }
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
    
                        .info_wrap {
                            width: 50%;
                            display: flex;
                            .border_height {
                                clip-path: polygon(50% 0, 50% 0, 50% 0, 50% 0);
                                height: 100%;
                                background: $black-color;
                                width: 1.2px;
                            }
                            .info {
                                margin-left: auto;
                                margin-right: auto;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding-top: 1vw;
                                .name {
                                    font-family: 'NeueMetana-Regular';
                                    text-transform: uppercase;
                                    font-size: 32px;
                                    letter-spacing: -0.1rem;
                                    line-height: 87%;
                                }
                            }
                        }
                    }
                }
                
            }
        }
    }
}