* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    &::selection {
        background-color: #28282863; 
    }
}
// Media
$breakpoint-xxs-min: 360px;
$breakpoint-xs-min: 420px;
$breakpoint-sm-min: 576px;
$breakpoint-md-min: 768px;
$breakpoint-lg-min: 992px;
$breakpoint-xl-min: 1200px;
$breakpoint-xxl-min: 1400px;

$breakpoint-xs-max: $breakpoint-xs-min - 1px;
$breakpoint-s-max: $breakpoint-sm-min - 1px;
$breakpoint-sm-max: $breakpoint-md-min - 1px;
$breakpoint-md-max: $breakpoint-lg-min - 1px;
$breakpoint-lg-max: $breakpoint-xl-min - 1px;
$breakpoint-xl-max: $breakpoint-xxl-min - 1px;

// NeueMetana
@font-face {
    font-family: 'NeueMetana-bold';
    src: url(../fonts/NeueMetana-Bold.otf);
}
@font-face {
    font-family: 'NeueMetana-regular';
    src: url(../fonts/NeueMetana-Regular.otf);
}
// Inter 
@font-face {
    font-family: 'Inter-light';
    src: url(../fonts/Inter-Light.otf);
}
@font-face {
    font-family: 'Inter-regular';
    src: url(../fonts/Inter-Regular.otf);
}
// Wagon 
@font-face {
    font-family: 'Wagon';
    src: url(../fonts/Wagon-ExtraLightItalic.otf);
}

//variables

$white-color: #ffffff;
$black-color: #282828;
$gray-color: #EDEDED;
$brown-color: #87817B;
$green-color: #556158;

//mixins
@mixin list-null {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

// PAGE ANIMATIONS
// .page_loader {
//     position: absolute;
//     top: 0;
//     left: 0;
//     pointer-events: none;
//     z-index: 500000;
//     width: 100%;
//     background: #fff;
//     height: 100vh;
// }
// .page-transition {
//     z-index: 500000;
//     position: absolute;
//     top: 0;
//     background-color: #282828;
//     width: 100%;
//     height: 0;
// }

.loader-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $brown-color;
    z-index: 9999;
    transform: scaleX(0);
    @media  (max-width: $breakpoint-lg-min) {
        background: $green-color;
    }
}
.loader-overlay.two{
    background-color: $black-color;
}
// /PAGE ANIMATIONS



.h1-a {
    cursor: default;
}
body {
    font-family: 'Inter-regular';
    color: $black-color;
    background: $gray-color
    
      
}
body::-webkit-scrollbar {
    display: none;
}
body {
    -ms-overflow-style: none;  /* IE и Edge */
    scrollbar-width: none;  /* Firefox */
}
// tags
li {
    @include list-null();
}
a {
    color: $black-color;
    text-decoration: none;
}

// Three.js canvas
canvas {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}

// UI elements
.char {
    // transform: translateY(60px);
    // opacity: 0;
    // clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    &:hover {
        font-family: 'Wagon';
        letter-spacing: 0.4rem;
        // transition: .3s;
    }
}
.word {
    transform: translateY(40px);
    // opacity: 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.load_anim {
    transform: translateY(20px);
    // opacity: 0;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}
.btn-title {
    display: inline-block;
    padding: 7px;
    .cont {
        border: 1px solid $black-color;
        border-radius: 22px;
        padding: 0 7px 1.5px;
        letter-spacing: -0.5px;
        &:hover {
            background: $black-color;
            color: $gray-color;
        }
    }
}


#root-index{
    width: 100%;
    -webkit-font-smoothing: antialiased;
    // transition: .3s;
    background: $gray-color;
    margin-bottom: 300px;
    z-index: 1;
    border-radius: 0 0 20px 20px;
    @media  (max-width: $breakpoint-xs-min) {
        margin-bottom: 265px;
    }
}

// Import files 
@import 'header.scss';
@import 'footer.scss';
@import 'index.scss';
@import 'cases.scss';

#root-index{
    width: 100%;
    -webkit-font-smoothing: antialiased;
    // transition: .3s;
    background: $gray-color;
    margin-bottom: 300px;
    z-index: 1;
    border-radius: 0 0 20px 20px;
    @media  (max-width: $breakpoint-xs-min) {
        margin-bottom: 265px;
    }
    // .sec_work {
    //     &-1 {
    //         padding-bottom: 20px;
    //         // border-bottom: 1px solid $black-color;
    //         padding: 130px 50px 20px;
            
    //         @media  (max-width: $breakpoint-md-min) {
    //             padding: 130px 20px 20px;
    //         }
    //         @media  (max-width: $breakpoint-sm-min) {
    //             padding: 90px 20px 20px;
    //         }
    //         .divider {
    //             width: 100%;
    //             height: 1.2px;
    //             background: $black-color;
    //         }
    //         .h1-a {
    //             font-family: 'NeueMetana-Regular';
    //             text-transform: uppercase;
    //             font-size: 102px;
    //             letter-spacing: -0.4rem;
    //             line-height: 90%;
    
    //             @media  (max-width: $breakpoint-lg-min) {
    //                 font-size: 84px;
    //                 letter-spacing: -0.3rem;
    //             }
    //             @media  (max-width: $breakpoint-md-min) {
    //                 font-size: 64px;
    //                 letter-spacing: -0.2rem;
    //             }
    //             @media  (max-width: $breakpoint-sm-min) {
    //                 font-size: 58px;
    //             }
    //         }
    //     }

    //     &-2 {
            
    //     }
    // }

    .sec_cases {
        &-1 {
            // display: flex;
            display: flex;
            // flex-direction: row;
            justify-content: flex-start;
            align-items: flex-end;
            padding: 130px 50px 20px;
            // height: 100vh;
            width: 100%;
            @media  (max-width: $breakpoint-xl-min) {
                flex-direction: column;
                align-items: flex-start;
            }
            @media  (max-width: $breakpoint-md-min) {
                padding: 90px 20px 50px;
            }
            @media  (max-width: $breakpoint-sm-min) {
                padding: 90px 20px 40px;
                // height: 87vh;
            }
            .h1-a {
                display: inline-block;
                font-family: 'NeueMetana-Regular';
                text-transform: uppercase;
                font-size: 102px;
                letter-spacing: -0.4rem;
                line-height: 90%;
    
                @media  (max-width: $breakpoint-lg-min) {
                    font-size: 84px;
                    letter-spacing: -0.3rem;
                }
                @media  (max-width: $breakpoint-md-min) {
                    font-size: 64px;
                    letter-spacing: -0.2rem;
                }
                @media  (max-width: $breakpoint-sm-min) {
                    font-size: 58px;
                }
            }
    
            .h6-text {
                display: inline-block;
                width: 30%;
                font-size: 18px;
                line-height: 95%;
                letter-spacing: -0.5px;
                margin-left: auto;
                @media  (max-width: $breakpoint-xl-min) {
                    margin-left: 0;
                }
                @media  (max-width: $breakpoint-lg-min) {
                    width: 100%;
                    margin-top: 20px;
                }
            }
    
        }
    
        &-2 {
            padding: 0 50px 50px;
            @media  (max-width: $breakpoint-md-min) {
                padding: 0 20px 50px;
            }
            .cs_cont {
                border-top: 1.2px solid $black-color;
                padding-top: 1vw;
                display: flex;
                flex-direction: column;
                margin-bottom: 90px;
                @media  (max-width: $breakpoint-md-min) {
                    margin-bottom: 40px;
                }
            }
    
            .cs_wrap {
                .pre_it {
                    &:last-child {
                        border-bottom: 1px solid $black-color;
                    }
                    .for_mob-it {
                        display: flex;
                        flex-direction: column;
                        // height: auto;
                        @media  (max-width: $breakpoint-lg-min) {
                            flex-direction: row;
                        }
                        .name_for-mobile {
                            font-family: 'NeueMetana-Regular';
                            text-transform: uppercase;
                            font-size: 32px;
                            letter-spacing: -0.1rem;
                            line-height: 87%;
                            display: none;
                            padding-top: 2vw;
                            padding-right: 2vw;
                            font-size: 24px;
                            @media  (max-width: $breakpoint-lg-min) {
                                display: block;
                            }
                            @media  (max-width: $breakpoint-md-min) {
                                font-size: 18px;
                                letter-spacing: -0.1px;
                            }
                            @media  (max-width: $breakpoint-sm-min) {
                                font-size: 12px;
                                letter-spacing: -0.1px;
                                min-width: 65px;
                                max-width: 65px;
                            }
                        }
                        .border_height {
                            clip-path: polygon(50% 0, 50% 0, 50% 0, 50% 0);
                            height: auto;
                            bottom: 0;
                            background: $black-color;
                            width: 1.2px;
                            // display: inline-block;
                            display: none;
                            @media  (max-width: $breakpoint-lg-min) {
                                display: inline-flex;
                            }
                        }
                    }
                    
                    .border_width {
                        width: 100%;
                        height: 1.2px;
                        background-color: $black-color;
                        clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
                        // clip-path: polygon(3% 0, 3% 0, 3% 0, 3% 0);
                    }
                    .it {
                        width: 100%;
                        display: flex;
                        
                        // margin-bottom: 60px;
                        @media  (max-width: $breakpoint-lg-min) {
                            flex-direction: column;
                        }
                        .img_wrap {
                            padding: 1vw 1vw 1vw 0;
                            width: 50%;
                            height: auto;
                            position: relative;
                            @media  (max-width: $breakpoint-lg-min) {
                                width: 100%;
                                padding: 2vw 0;
                                padding-left: 2vw;
                            }
                            // .blur {
                            //     position: absolute;
                            //     width: 100%;
                            //     height: 100%;
                            //     top: 0;
                            //     left: 0;
                            //     // backdrop-filter: blur(10px);
                            // }
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
    
                        .info_wrap {
                            width: 50%;
                            display: flex;
                            @media  (max-width: $breakpoint-lg-min) {
                                width: 100%;
                                
                            }
                            .border_height {
                                clip-path: polygon(50% 0, 50% 0, 50% 0, 50% 0);
                                height: 100%;
                                background: $black-color;
                                width: 1.2px;
                                display: inline-block;
                                @media  (max-width: $breakpoint-lg-min) {
                                    display: none;
                                }
                            }
                            .info {
                                margin-left: auto;
                                margin-right: auto;
                                display: flex;
                                justify-content: flex-end;
                                align-items: flex-start;
                                flex-direction: column;
                                padding: 1vw 1vw 1.2vw 1vw;
                                @media  (max-width: $breakpoint-lg-min) {
                                    padding: 1vw 0vw 2vw 2vw;
                                    
                                }
                                .name {
                                    // margin-bottom: auto;
                                    font-family: 'NeueMetana-Regular';
                                    text-transform: uppercase;
                                    font-size: 32px;
                                    letter-spacing: -0.1rem;
                                    line-height: 87%;
                                    margin-bottom: 20px;
                                    @media  (max-width: $breakpoint-lg-min) {
                                        display: none;
                                    }
                                }
                                .descr {
                                    margin-bottom: 20px;
                                    font-size: 16px;
                                    // text-align-last: left;
                                    line-height: 95%;
                                    letter-spacing: -0.5px;
                                    @media  (max-width: $breakpoint-md-min) {
                                        font-size: 14px;
                                        margin-bottom: 10px;
                                    }
                                }
    
                                .do {
                                    font-size: 16px;
                                    // text-align-last: left;
                                    line-height: 95%;
                                    letter-spacing: -0.5px;
                                    @media  (max-width: $breakpoint-md-min) {
                                        font-size: 14px;
                                        margin-bottom: 10px;
                                    }
                                    .date {
                                        margin-left: auto;
                                    }
                                    .category_wr {
                                        display: flex;
                                        margin-bottom: 10px;
                                        
                                        .category {
                                            display: flex;
                                            align-items: center;
                                            margin-right: 7px;
                                            &::after {
                                                content: '';
                                                width: 5px;
                                                height: 5px;
                                                margin-top: 1px;
                                                margin-left: 7px;
                                                border-radius: 100%;
                                                background: $black-color;
                                            }
                                            &:last-child {
                                                margin-right: 0;
                                                &::after {
                                                    display: none;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                
            }
        }
    }
}